body {
    margin: 0;
    padding: 0;
    font-family: futura, "游ゴシック体", YuGothic;

}

h1 {

    text-align: center;
    height: 500px;
    padding-top: 100px;
    margin: 0;
    background-color: #4fc2bf;
}

.logo{
    animation: fluffy1 3s ease infinite;
    width: 50%;
}

@keyframes fluffy1 {
  0% { transform:translateY(0) }
  5% { transform:translateY(0) }
  10% { transform:translateY(0) }
  20% { transform:translateY(-15px) }
  25% { transform:translateY(0) }
  30% { transform:translateY(-15px) }
  50% { transform:translateY(0) }
  100% { transform:translateY(0) }
}



nav {
    font-size: 20px;
    transform: rotate(-90deg);
    position: fixed;
    top: 300px;
    left: 0px;
<<<<<<< HEAD
    z-index: 999;
=======
　　z-index: 999;
>>>>>>> origin/master
}

nav ul {
    list-style-type: none;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
	justify-content: flex-start;
    


}

nav ul li {
    width: 20%;
    float: left;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li a {
    width: auto;
    color: #21191b;
    margin: 0;
    padding: 12px 0;
    text-decoration: none;
    display: block;
    transition: color .3s;

}

nav li a:hover {
    color: #f9464b;
}




#wrapper {
    width: 800px;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 100px;

}


.p {
    text-align: center;
    margin-top: 0;
}

#about {
    background-color: #ffffff;
    height: auto;
    padding-bottom: 100px;
}




.shima {
    
}

.naname1 {
    background-image: url(img/naname.png);
    height: 19px;
    width: 30%;
    float: left;
    margin-top: 30px;
}

.naname2 {
    background-image: url(img/naname.png);
    height: 19px;
    width: 30%;
    float: left;
    margin-top: 30px;
}

.naname3 {
    background-image: url(img/naname2.png);
    height: 19px;
    width: 30%;
    float: left;
    margin-top: 30px;
}

.about{
    float:left;
    margin: left;
}

.title-hako {
    color: #4fc2bf;
    background-color: #fff;
    width: 300px;
    margin: auto;
    text-align: center;
    font-size: 60px;
    font-weight: 100;
}

/*
h3 {
  position: relative;
}
h3:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 19px;
  background: -webkit-repeating-linear-gradient(-45deg, #6ad1c8, #4fc2bf 8px, #fff 8px, #fff 16px);
  background: repeating-linear-gradient(-45deg, #6ad1c8, #4fc2bf 8px, #fff 8px, #fff 16px);
}
*/


.title1 {
    color: #4fc2bf;
    background-color: #fff;
    width: 300px;
    margin: auto;
    text-align: center;
    font-size: 60px;
    font-weight: 100;
}


.toku {
    text-align: center;
    margin: 20px auto;
}


#wrapper2 {
    width: 800px;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;

}

.container1 {
    width: 220px;
    height: 260px;
    background-color: #4fc2bf;
    margin: 20px;
    border-radius: 10px;
    position: relative;
}

.white {
    margin-left: -10px;
}

.toku1 {
    font-family: serif;
    font-size: 50px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 5px;
    color: #f9464b;
    position: absolute;
    top: 0px;
    left: 0px;
}

.toku2 {
    font-family: "游ゴシック体", YuGothic;
    font-weight: bold;
    color: #ffffff;
    margin-top: 30px;
    margin-left: 10px;
}

.toku3 {
    font-family: "游ゴシック体", YuGothic;
    font-weight: bold;
    font-size: 12px;
    color: #21191b;
    margin-left: 22px;
}


.container2 {
    width: 220px;
    height: 330px;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;

}

.namae {
    font-family: "游ゴシック体", YuGothic;
    font-weight: bold;
    color: #21191b;
    font-size: 35px;
    letter-spacing: 0.1em;
    margin-bottom: 5px;

}

.name {
    font-family: futura;
    font-weight: bold;
    font-size: 25px;
    color: #4fc2bf;
    margin-top: 5px;
    letter-spacing: 0.1em;
}

.container3 {
    width: 480px;
    height: 300px;
    background-color: #fff;
    margin-top: 65px;
    border: solid 5px;
    border-color: #4fc2bf;
    border-radius: 10px;

}


.setsumei {
    font-family: "游ゴシック体", YuGothic;
    font-weight: bold;
    color: #21191b;
    line-height: 30px;
    margin-top: 45px;
    margin-left: 70px;
}





#skill {
    height: auto;
    background-color: #4fc2bf;
    padding: 20px;
}

.title2 {
     color: #fff;
    width: 300px;
    margin: auto;
    text-align: center;
    font-size: 60px;
    font-weight: 100;
}


.container-skill {
    display: flex;
    width: 800px;
    margin: auto;
}

#hako{
    padding-top: 100px;
}

.left {
    width: 300px;
}

.skillsoft {
    flex: 1;
}

.right {
    width: 200px;
}

.skilllist {
    font-size: 40px;
    display: inline-block;
    border-bottom: solid 3px #fff;
}

.aka {
    color: #f9464b;
}

.shiro {
    color: #fff;
    font-size: 20px;
    font-weight: bold;

}

.shikaku {
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #4fc2bf;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    float: left;
    margin-left: 20px;
}

.right {
    font-family: "游ゴシック体", YuGothic;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
}

.shikaku2 {
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: #4fc2bf;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    float: left;
    margin-left: 20px;
    margin-top: 40px;
}

.websetsumei {
    font-family: "游ゴシック体", YuGothic;
    font-weight: bold;
    color: #fff;
    margin-top: 30px;
}

.illustrationsetsumei {
    font-family: "游ゴシック体", YuGothic;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
}

#works {
    max-width: 800px;
    margin: 0 auto;
}

.works {
    /*  position: relative;*/
    max-width: 900px;
    margin: 100px auto;
    padding-left: 10%;
    /*全体の中央寄せ*/
}

#grid {
    width: 100%;
    margin: 0 auto;
    /*中央寄せ*/
    /*  position: relative;*/
}



.item {
    margin: 10px;
    width: 200px;
    /*  padding: 8px;*/
    /*  border: 1px solid #eee;*/
}

.item.x2 {
    width: 320px;
}

.item.x3 {
    width: 500px;
}

.item img {
    width: 100%;
}

.modal1{
    width: 30%;
    height: 30%;
}

.modal-text{
    font-family: "游ゴシック体", YuGothic;
    font-weight: bold;
    font-size: 50px;
}

/*
.grid {
    margin: auto;
    width: 800px;
}
.grid-item {
    width: 200px;
    height: auto;
    float: left;
    margin: 10px;
}
.grid-item img {
    width: 200px;
    vertical-align: bottom;
}*/
